@page "/application/{Id:guid}"

@using global::GdsApi
@inject IApplicationsGdsApi ApplicationsGdsApi

<PageTitle>Application Details</PageTitle>

<h1>Application Details</h1>

@if (application is null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <p>Details of the registered Application @application.ApplicationName</p>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Application
        </div>
        <div class="card-body">
            <p>@application.ApplicationName</p>
            <p>@application.ApplicationId</p>
            <p>@application.ApplicationType</p>
            <p>@application.ApplicationUri</p>
            <p>@application.ProductUri</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Certificate
        </div>
        <div class="card-body">
            <p class="card-text">@application.Certificate.Subject</p>
            <p class="card-text">@application.Certificate.Issuer</p>
            <p class="card-text">@application.Certificate.Thumbprint</p>
            <p class="card-text">@application.Certificate.SerialNumber</p>
            <p class="card-text">@application.Certificate.NotBefore</p>
            <p class="card-text">@application.Certificate.NotAfter</p>
            <button type="button" class="btn btn-dark">Download Certificate</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private ApplicationApiModel? application;

    protected override async Task OnInitializedAsync()
    {
        application = await ApplicationsGdsApi.GetApplicationsAsync(Id);
    }
}
